:host{

position:absolute;

left:0;

top:0;

width:100%;

height:100%;

}

.sensor{

position:absolute;

transform:translateX(-50%);

display:flex;

flex-direction:column;

align-items:center;

}

.head{

width:42px;

height:42px;

border-radius:50%;

background:#16351F;

border:2px solid #39FF52;

display:flex;

justify-content:center;

align-items:center;

font-weight:700;

}

.pole{

width:2px;

height:62px;

background:#39FF52;

}

.label{

font-size:12px;

margin-top:5px;

color:#7DBFFF;

}
