<header class="header">

    <div class="left">

        <button class="menu-btn">

            <i class="pi pi-bars"></i>

        </button>

        <h2>Dashboard</h2>

        <div class="live">

            <span class="dot"></span>

            LIVE

        </div>

    </div>

    <div class="right">

        <div class="date">

            <i class="pi pi-calendar"></i>

            {{currentDate()}}

        </div>

        <div class="time">

            <i class="pi pi-clock"></i>

            {{currentTime()}}

        </div>

        <button class="icon">

            <i class="pi pi-cog"></i>

        </button>

        <button class="icon">

            <i class="pi pi-user"></i>

        </button>

    </div>

</header>
