$bg: #07131F;
$card: #0F1C2D;
$border: #1E344D;

$primary: #2F80ED;
$success: #00C853;
$danger: #FF3B30;
$warning: #FFC107;

$text: #FFFFFF;
$text-secondary: #AEB7C2;

$sidebar-width: 250px;
$header-height: 72px;

$radius: 14px;
